*{
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
nav{
    position: fixed;
    background: rgba(0, 0, 0, 0.1);
    padding:0px 20px;
    z-index: 100;
  }
.brand-logo{
    /* color: #ffa726 !important; */
    font-size: 22px !important;
    font-weight: bold !important;
  }
.caption{
    margin-top: 75px;
}
h2{
    font-weight: bold;
}
#search-container{
    padding: 5px;
}
.row{
    margin: 5px;
}
#search-question{
    margin-top: 5px;
    margin-bottom: 10px;
} 
#food-input{
    height: 40px;
    border: none;
    background: #f1f1f1;
    margin: 0;
    font-weight: bold;
  }
#search-btn{
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 0;
    font-size: 20px;
    cursor: pointer;
  }
#button-view{
    margin: 20px;
}
.food-btn{
    font-size: 18px;
    padding: 5px 10px;
    border: 2px solid #ffa726;
    color: #ffa726;
    background-color: white;
    margin-right: 10px;
}
.food-btn:active{
    font-weight: bold;
    color: white;
    background-color: #f57c00;
  }
.header{
    margin-left: 20px;
    margin-bottom: 0;
}
.beer-data{
    margin: 0 20px;
    vertical-align:top;
    display:inline-block;
    color: white;
    background-color: #ffa726;
    padding: 10px;
}
.beer-img{
    display:block;
    margin:auto;
    height:200px;
    padding: 0 auto;
}
.movie-data{
    margin: 0 20px;
    vertical-align:top;
    display:inline-block;
    color: white;
    background-color: #ffa726;
    padding: 10px;
}
.movie-poster{
    display:block;
    margin:auto;
    height:300px;
    margin: 0 auto;
}
.no-poster{
    font-style: italic;
}
.page-footer{
    margin-top: 40px;
}
/* #controls{
    margin-top: 40px;
    width: 500px;
} */
